<% if user_signed_in? %>
    <div class="jumbotron jumbotron-home">
        <div class="container">
            <h1>Welcome back!</h1> 
        </div>
    </div>   
<% else %>
    <div class="jumbotron jumbotron-home">
        <div class="container">
            <h1>Welcome to the <b>Job Developement Assistant</b> site</h1>
            <p>Our purpose is to get you the ideal job you desire or to obtain supplemental income, but we understand it is going to take a little bit of work to get there and that is why Job Development Assistant is here to help.</p>
            <%= link_to "Learn more »", "#", class: "btn btn-primary btn-lg" 
                %> 
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <h2>Resume Building</h2>
            <p>Our goal is to help aid and support our clients in securing a job opportunity by putting them in a position to exude applicant appeal.</p>

            <p>One of the ways to achieve this is through targeted, customized resumes that serve the criteria of the desired position.</p>
            <p><%= link_to "View details", "#", class: "btn btn-secondary" %></p>
        </div>
        <div class="col-md-4">
            <h2>Skill Enhancement</h2>
            <p>It is paramount to increase your desirability to employers in the market. There are many ways to elevate your attractiveness to employers, some of these are by --learning a trade, enhancing your current skill sets, taking key bonus classes or certifications to boost your professional image.<p/>


            <p>It is vital to acquire <b>Market Image Positioning</b> expertise, not only to land the first job but to create future promotions for upward mobility and enhancement.<p/>

            <p>Remember, the comfort zone is a warm and cozy place to be, but unfortunately, you are not going to grow.</p>
            <p><%= link_to "View details", "#", class: "btn btn-secondary" %></p>
        </div>
        <div class="col-md-4">
            <h2>Mentorship/Meet ups/Local Market Trends</h2>
            <p> Working with the right Mentor can give great direction, and save you an immense amount of time.  Another successful practice is attending local meet ups. These meetings are a great way to put yourself out there, make new friends, and to get real world insight.<p/>

            <p>Interestingly enough, our team have discovered that different areas have unique niches and our constant research will put you in position where you have the crystal ball.</p>

             </p>
            <p><%= link_to "View details", "#", class: "btn btn-secondary" %></p>
        </div>
    </div>
</div>
<% end %>