<h1>Welcome to my website</h1>
<h1>The goal of this site is to help you find a better paying job and/or to assist with ideas for supplimental income. Mostly everyone would not mind improving there current situation or could use the extra cash to reduce debt, increase savings, or to use it for that nice vacation trip to the bahamas that you have always wanted to go but never got around to making it happen. What ever your reason is, knowing what you are worth is here to provide, ideas, research, educations, etc. </h1>
<h1>Some of the features our site provides is:</h1>
<h1>1) Resume screening</h1>
<h1>2) Recomended certs/education/classes to enhance your skillset</h1>
<h1>3) Mentorship</h1>
<h1>4) List of trades or job openings that require no to little experience</h1>
<h1>5) Research of local meet ups, organizations, and job resource agencies</h1>

<p>Sign up here by sending me an email.</p><p>benthomson1001@gmail.com.<p></p>
